@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:darkred">Stirea zilei</h1>
    <p class="lead">Fii in pas cu ultimele noutati !</p>
</div>

@foreach (DAWProiect.Models.Article article in ViewBag.Articles)
{
    @Html.Partial("ArticleInfo", article);

}