@*@model DAWProiect.Models.Category*@
@model DAWProiect.Models.Article
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Afisare categorie";
}

<h2>@ViewBag.Title</h2>
<h1>@ViewBag.CategoryName</h1>
<br />

@if (ViewBag.Allow == true)
{
    <a class="btn btn-sm btn-info" href="/Categories/Edit/@ViewBag.CategoryId">Modifica categoria</a>
    <br /><br />
    <form method="post" action="/Categories/Delete/@ViewBag.CategoryId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Sterge categoria</button>
    </form>
}
  
<label>Sorteaza dupa data </label>
<input type="checkbox" class="onoffswitch-checkbox" id="sortRecent">

<br />
<br />

<label>Sorteaza alfabetic </label>
<input type="checkbox" class="onoffswitch-checkbox" id="sortAbc">

@foreach (DAWProiect.Models.Article article in ViewBag.Articles)
{
    @Html.Partial("ArticleInfo", article);

}

<hr />
<a class="btn btn-sm btn-success" href="/Article/Index">Inapoi la toate stirile</a>
<br /><br />
<a class="btn btn-sm btn-success" href="/Categories/Index">Inapoi la categorii</a>
<br />